.fog-full-width {
    width: 70%;
}
.fog-container{
    margin: auto;
    width: 80%;
    padding: 2rem;
}

#forgot-button{
    width: 8rem;    
    height: 3.5rem;
    margin: 1rem;
    padding-bottom: .5rem;
    padding-top: 1rem;
    font-weight: 900;
    font-size: 1rem;
}
.router-link{
    text-decoration: none;
    
}