.reg-full-width {
    width: 70%;
}
.option-list{
    width: 30%;
    margin: 1rem;
}
.reg-min-width {
    width: 20%;
}
.reg-max-width {
    width: 50%;
}
.reg-half-width {
    width: 50%;
}
.reg-container{
    margin: auto;
    width: 80%;
    padding: 2rem;
}
.column {
    display: flex;
    flex-direction: column;
}
