<div class="container">
    <button id="appointment-button" mat-raised-button *ngIf="user.account_type === 'User';" routerLink="/profile/add-appointment" color="accent">Add An Appointment</button>
    <router-outlet></router-outlet>
    <app-show-appointment *ngIf="user.account_type === 'Doctor';"></app-show-appointment>
    <mat-card>
        <mat-card-header>
          <mat-card-title><h2>{{ user.firstName }} {{ user.lastName }}</h2></mat-card-title>
          <mat-card-subtitle><h2>{{user.account_type}} Profile</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                  <span class="key"><h3>Name</h3></span>
                  <span class="spacer"></span>
                  <span class="value"><h5> {{user.firstName}} {{user.lastName}} </h5></span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key"><h3>Email</h3></span>
                    <span class="spacer"></span>
                    <span class="value"><h5> {{user.email}} </h5></span>
                  </mat-list-item>
                <mat-list-item>
                    <span class="key"><h3>Username</h3></span>
                    <span class="spacer"></span>
                    <span class="value"><h5> {{user.userName}} </h5></span>
                </mat-list-item>  
                <mat-list-item>
                    <span class="key"><h3>Door No</h3></span>
                    <span class="spacer"></span>
                    <span class="value"><p> {{user.door_no}}</p></span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key"><h3>Street</h3></span>
                    <span class="spacer"></span>
                    <span class="value"><p>{{user.street}}</p></span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key"><h3>State</h3></span>
                    <span class="spacer"></span>
                    <span class="value"><p> {{ user.state}}</p></span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key"><h3>Age</h3></span>
                    <span class="spacer"></span>
                    <span class="value"><p>{{ user.age }}</p></span>
                </mat-list-item>
                <mat-list-item *ngIf="user.account_type === 'User';">
                    <span class="key"><h3>Height</h3></span>
                    <span class="spacer"></span>
                    <span class="value"><p>{{ user.height }}</p></span>
                </mat-list-item>
                <mat-list-item *ngIf="user.account_type === 'User';">
                    <span class="key"><h3>Weight</h3></span>
                    <span class="spacer"></span>
                    <span class="value"><p> {{ user.weight }}</p></span>
                </mat-list-item>
                <mat-list-item *ngIf="user.account_type === 'User';">
                    <span class="key"><h3>Medical Problems  </h3></span>
                    <span class="spacer"></span>
                    <span class="value"><p> {{ user.diseases }}</p></span>
                </mat-list-item>
                <mat-list-item *ngIf="user.account_type === 'Doctor';">
                    <span class="key"><h3>Specialist</h3></span>
                    <span class="spacer"></span>
                    <span class="value"><p>{{ user.specialist }}</p></span>
                </mat-list-item>
                <mat-list-item *ngIf="user.account_type === 'Doctor';">
                    <span class="key"><h3>Qualifications</h3></span>
                    <span class="spacer"></span>
                    <span class="value"><p>{{ user.qualifications }}</p></span>
                </mat-list-item>
                <mat-list-item *ngIf="user.account_type === 'Doctor';">
                    <span class="key"><h3>No of Surgeries Done</h3></span>
                    <span class="spacer"></span>
                    <span class="value"><p> {{ user.no_of_surgeries }}</p></span>
                </mat-list-item>              
              </mat-list>            
        </mat-card-content>
    </mat-card>
</div>
